@import "tailwindcss";
@import "@nuxt/ui";

@layer theme, base, components, utilities;

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	background-color: #eeeeee;
	color: #222222;
}

@theme {
	--breakpoint-mobile: 23.4375rem; /* 375px */
	--breakpoint-account-pages: 37.5rem; /*600px */
	--breakpoint-tablet: 45rem; /* 720px */
	--breakpoint-mid-desktop: 52.5rem; /* 840px */
	--breakpoint-mid-desktop-admin-image: 51.875rem; /* 830px */
	--breakpoint-mid-desktop-navbar: 56.875rem; /* 910px */
	--breakpoint-desktop: 64rem; /* 1024px */
	--breakpoint-desktop-xl: 90rem; /* 1440px */
	/* --breakpoint-slider-reviews: 50rem; */ /* 800px */
}

input,
select,
button,
textarea {
	font-family: "Inter", sans-serif;
}

/* input:not(.input-preventivo-rapido),
select:not(.input-preventivo-rapido) {
	display: block;
	margin: 10px 0;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.4);
} */

/* .my-container {
	max-width: 1280px;
	margin: 0 auto;
} */

@theme {
	--font-montserrat: "Montserrat", sans-serif;
}

@layer base {
	input,
	textarea,
	select {
		@apply outline-none;
	}
}

@layer components {
	.my-container {
		@apply desktop-xl:max-w-[1280px] mx-auto mobile:px-[20px] desktop:max-w-[940px] tablet:px-[40px] desktop:px-0;
	}

	.input-preventivo-rapido {
		@apply bg-[#F1F1F1] text-[#767676] text-[0.875rem] font-medium w-full h-[54px] leading-[54px] rounded-[30px] px-[18px] placeholder:text-[#767676] block mt-[15px] tracking-[-0.336px];
	}

	.label-preventivo-rapido {
		@apply text-[1.126rem] desktop:text-[1.25rem] text-black font-semibold desktop-xl:font-medium tracking-[-0.48px];
	}

	.label-popup {
		@apply text-left text-[1.25rem] text-black font-medium tracking-[-0.48px] pl-[18px];
	}

	.input-popup {
		@apply bg-[#F1F1F1] text-[#767676] placeholder:text-[#767676] placeholder:text-[0.875rem] text-[0.875rem] tracking-[-0.336px] h-[40px] leading-[40px] w-full rounded-[30px] px-[18px] mt-[12px];
	}

	.input-preventivo-step-2 {
		@apply bg-white rounded-[20px] h-[32px] text-[#222222] text-[0.875rem] tracking-[0.2px] font-montserrat placeholder:text-[#222222] placeholder:text-[0.875rem] px-[20px] w-full;
	}

	/* Servizi */
	.services-title {
		@apply text-center tracking-[0.1px] text-[#252B42] font-bold mt-[20px] after:content-[''] after:bg-[#E74040] after:w-[50px] after:h-[2px] after:block after:mx-auto after:mt-[15px];
	}
	.services-description {
		@apply text-[#737373] tracking-[0.2px] leading-[20px] text-[0.875rem] my-[20px];
	}

	.services-button {
		@apply block text-[0.875rem] border border-[#23A6F0] rounded-[37px] tracking-[0.2px] text-center text-[#23A6F0] font-bold h-[42px] leading-[40px] mx-auto;
	}

	/* Contatti */
	.input-contatti {
		@apply bg-white h-[80px] block w-full leading-[80px] text-[#737373] placeholder:text-[#737373] text-[1.25rem] rounded-[21px] tracking-[-0.28px] pl-[24px] pr-[13px] mt-[32px] bg-[url('/img/contacts/asterisk.svg')] bg-no-repeat bg-[100%_13px] bg-origin-content;
	}
}
